@font-face {
  font-family: 'GlacialIndifference';
  src: url('../fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: 'CooperHewittMedium';
  src: url('../fonts/CooperHewitt-Medium.otf');
}

.glow {
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #6e00d1, 0 0 35px #6e00d1, 0 0 40px #6e00d1, 0 0 50px #6e00d1, 0 0 60px #6e00d1;
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

body{
    font-family: GlacialIndifference;
    font-size: 2.2em;
    color: #fff;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    background-color: #121212;
    background: url("../background/bg.jpg") center no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a, a:hover, a:visited{
    text-decoration: none;
}

/* Modal */
.modal-content{
  background-color: #16181a;
  color: #fff;
  font-family: GlacialIndifference;
}

/* Form Success Messages */
.successMsg{
  float:left;
  color: #00d110;
}

/* Form Error Messages */
#ErrorName, #errorUrl{
    color: #FF0000;
}

.box h3{
    font-family: CooperHewittMedium;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.4);
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    margin-top: 0.2em;
    
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
    text-align: center;
}

.box{
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.box:hover{
    background-color: rgba(0,0,0,0.55);
}
.box:hover .links{
    color: #00ff00;
}

.google-icon{
    display: inline;
    height: 1.2em;
    position: absolute;
    left: auto;
    right: 49%;
    color: rgba(0, 255, 255, 0.75);
}
.google-icon:hover{
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.links{
    font-size: 0.95em;
    color: rgb(0, 190, 0);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-transition: font-size 0.1s;
    transition: font-size 0.1s;
}

.links:hover{
    color: #00ff00 !important;
}

.url p{
    padding-left: 0.5em;
    -webkit-transition: padding-left 0.3s;
    transition: padding-left 0.3s;
}

.url p:hover{
    padding-left: 0.85em;
    font-size: 1.075em;
}

.container{
    padding: 1em;
}

.main-container{
    position: relative;
}

#todo{
    position: absolute;
    float: left;
    width: 15em;
    left: -15em;
    top: 0;
    margin-top: 6.1em;
    /*z-index: 1;*/

    /* Style */
    background: #0000004d;
    border-style: double;
    border-color: #6e00d1;
    border-radius: 5px;
    border-width: 5px;
}

#todo h2{
    text-align: center;
    margin-top: 0.25em;
    margin-right: 1em;
}

#todo hr{
    margin-top: -0.1em;
    margin-bottom: 0.25em;
    border-color: #6e00d1;
    border-width: 2.5px;
}

.addTodo{
    float: left;
    padding-left: 1em;
    padding-top: 0.25em;
}

#todo ul{
    margin-left: 1.5em;
    margin-right: 0em;
    padding-right: 0em;
}

#todo ul .urgent:hover{
    color: #FF0000;
}

#todo ul li{
    left: 0;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.25s ease;
    padding-left: 0.15em;
    max-width: 12em;
    border-radius: 2px;
}

#todo ul li:hover{
    background-color: #5555559c;
}

.urgent{
    color: rgb(255, 125, 125);
}

.fa-li{
    font-size: 0.75em;
    padding-top: 0.35em;
}